<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>About us </title>
    <script src="jquery.js"></script>
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="jquery.flip.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <script src="{% static 'js/bootstrap.js' %}"></script>
    <link rel="stylesheet" href="{% static 'stylecss/about.css'%}" type="text/css">
    <link rel="stylesheet" href="{% static 'stylecss/owl.carousel.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'stylecss/owl.theme.default.min.css' %}" type="text/css">
    <link rel="shortcut icon" href="2.jpg">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">

</head>
<body>
      <div class="bgimg"style=" background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url('{% static 'images/suit.jpg' %}');">
    <nav class="navbar navbar-expand-md  navbar-dark  fixed-top" style="    background: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3))">
        <div class="container">
            <a href="" class="navbar-brand"><span class="am">E-</span><span class="am2">Recruitment</span></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#sameer" ><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="sameer">
              <ul class="navbar-nav ml-auto">
                <li class="nav-item active"><a href="{% url 'home' %}" class="nav-link">Home</a></li>
                <li class="nav-item active"><a href="{% url 'recruitment:about' %}" class="nav-link">About</a></li>
                <li class="nav-item active"><a href="{% url 'recruitment:contactus' %}" class="nav-link">Contact</a></li>
                <li class="nav-item active dropdown">
                    <a href=" " class="nav-link dropdown-toggle" id="navbarDropdown" roles="button" data-toggle="dropdown">SignUp</a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdwon">
                        <a href="{% url 'recruitment:company'%}" class="dropdown-item">As Company</a>
                        <a href="{% url 'recruitment:signup'%}" class="dropdown-item">As User</a>
                    </div>
                </li>
                <li class="nav-item active"><a href="{% url 'recruitment:usLogin' %}" class="nav-link">LogIn</a></li>
                
            </ul>
            </div>
        </div>
    </nav>
    <!---navbar-ends here-->
    <div class="container  headerset text-white">
        <div class="row ">
          <div class="col-md-12 ">
              <h2 class=" font-weight-light">Empower Yourself</h2> 
              <h1 class="font-weight-light mt-4 " style="font-size: 55px;"><span class="am">E-</span><span class="am2">Recruitment</span></h1>
            
           
          </div>
        </div>          
        </div>
</div><!---first section ends here-->


<div class="container-fluid"><!---about section-->
    <div class="row">
        <div class="col-md-12">
                <div class="row header1 py-5">
                        <div class="col-md-2"></div>
                        <div class="col-md-4">
                        <p class="mt-3"><img src="{% static 'images/p1.jpg'%}" height="420" width="240" alt=""></p>
                        </div>
                       <!--detail section starts here-->
                        <div class="col-md-6">
                       <h2 class="font-weight-light ">Empower Yourself</h2>
                       <h1 class="display-3 text-secondary">About Us</h1>
                       <h3 class="font-weight-light text-danger" >E-Recruitment is a business and employment-oriented service <br>that operates via websites and mobile apps. 
                           Founded on 25th April 2019 and launched on 10th May 2019.It is mainly use for professional work including employers posting job's details,
                          and job seeker's posting their CV'S.</h3>
                       <!---new row2 starts here-->
                       <div class="row mt-4">
                       <div class="col-md-6 ">
                       <h2>Companies </h2>
                       <p>Sign up your company details and post job's.</p>  
                       <a href="{% url 'recruitment:company'%}"><button class="btn btn-white btn-outline-success  px-4 mt-2 ">SignUp</button></a> 
                       </div>    
                       <div class="col-md-6">
                       <h2>Seeker's</h2>
                       <p>Register Yourself  and apply for best Job's.</p>
                       <a href="{% url 'recruitment:signup'%}"><button class="btn btn-white btn-outline-success  px-4 mt-2 ">SignUp</button></a>
                       </div>    
                       </div><!---new row 2 ends here-->
                      
                      
        
                        </div>
                       </div><!---nrew row1 ends here-->
        </div>
    </div>
</div>

<div class="container-fluid">
  <div class="row py-3">

<div class="col-md-4 py-5">
  <h1 class="text-center  font-weight-light text-success">Our Vision</h1>
  <div class="border2"></div>
  <h3 class="mt-4 text-center  font-weight-light">To help build a society where all people can lead free and dignified lives by making sure that no opportunity for action
  or collaboration is missed or twisted.</h3>
</div>

<div class="col-md-4 py-5">
    <h1 class="text-center text-success font-weight-light">Our Mission</h1>
    <div class="border2"></div>
    <h3 class="mt-4 text-center font-weight-light">To close the gap between intention and action by connecting people's,<br>organizations,ideas and resources</h3>
  </div>

  <div class="col-md-4 py-5">
      <h1 class="text-center text-success font-weight-light">Our Values</h1>
      <div class="border2"></div>
      <h3 class="mt-4 text-center font-weight-light">To act in a spirit of generosity and mutual respect,no-violence,no action against anyone on the basis of their Identity;no action about 
        you without your permission
      </h3>
    </div>

  </div>
</div>

<!---service section-->
<div class="services-section"style=" background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url('{% static 'images/e2.jpg' %}');">
        <div class="inner-width">
          <h1 class="section-title">Our Services</h1>
          <div class="border"></div>
          <div class="services-container">
   
            <div class="service-box">
              <div class="service-icon">
                <i class="fas fa-code"></i>
              </div>
              <div class="service-title">Full Time/Part Time Job's</div>
              <div class="service-desc">
                We are providing best job's depending upon the interest and CV's
              </div>
            </div>
            <div class="service-box">
               <div class="service-icon">
                 <i class="fas fa-object-ungroup"></i>
               </div>
               <div class="service-title">Internships</div>
               <div class="service-desc">
                Helping Student's to join best Internships programmes to boost their skills
               </div>
             </div>
             <div class="service-box">
                 <div class="service-icon">
                   <i class="fab fa-artstation"></i>
                 </div>
                 <div class="service-title">Volunteering</div>
                 <div class="service-desc">
                  Providing information about need of volunteer's around the society
                 </div>
               </div>
               <div class="service-box">
                   <div class="service-icon">
                     <i class="fas fa-book"></i>
                   </div>
                   <div class="service-title">Career Counselling</div>
                   <div class="service-desc">
                 Helping Fresher's and Under-Graduate to know about their skills and aware them about their future
                   </div>
                 </div>
                 <div class="service-box">
                     <div class="service-icon">
                       <i class="fas fa-database"></i>
                     </div>
                     <div class="service-title">Real-Time -Records</div>
                     <div class="service-desc">
                    We don't show fake record's and always provide real time Analysis
                     </div>
                   </div>
                   <div class="service-box">
                       <div class="service-icon">
                         <i class="fas fa-phone"></i>
                       </div>
                       <div class="service-title">24/7 Online Support</div>
                       <div class="service-desc">
                        Feel free to Contact us anytime ,always ready to help our users in best way :)
                       </div>
                     </div>
   
          </div>
        </div>
</div><!--- 2nd section (service section )ends here-->


<!---company  section-->

<!---company  section ends here-->
<div class="container-fluid compc py-3">
  <h2 class="text-center mt-3">Recent Registered Companies !!!</h2>
  <div id="slider" class="owl-carousel">

    <div class="content-area">
     
        <img src="{% static 'images/p6.jpg' %}" alt="">
        <span class="custom-overlay">
        <span class="content-text">
          <h4>Website Services</h4>
          <h2 class="text-info">Infotech Solution Pvt.Ltd</h2>
          <p>May02,2019</p>
        </span>
      </span>
     
    </div>
    <div class="content-area">
          <img src="{% static 'images/c8.jpg' %}" alt="">
          <span class="custom-overlay">
          <span class="content-text">
            <h4>Security Solutions</h4>
            <h2 class="text-info">Maxbiz Security Solutions</h2>
            <p>May06,2019</p>
          </span>
        </span>
        
      </div>

      <div class="content-area">
          
            <img src="{% static 'images/c4.jpg' %}" alt="">
            <span class="custom-overlay">
            <span class="content-text">
              <h4>Hardware Products</h4>
              <h2 class="text-info">Taran Solution Pvt.Ltd</h2>
              <p>May12,2019</p>
            </span>
          </span>
          
        </div>

        <div class="content-area">
          
              <img src="{% static 'images/c10.jpg' %}" alt="">
              <span class="custom-overlay">
              <span class="content-text">
                <h4>IT Specialist's</h4>
              <h2 class="text-info">Jindal Infotech Pvt.Ltd.</h2>
                <p>May15,2019</p>
              </span>
            </span>
          
          </div>
   

  </div>
</div>
<!--company details and testimonials---> 
<div class="container">
          <div class="row">
              <div class="col-md-12 py-3">
                <h1 class="text-center text-success font-weight-light mt-3">Testimonials by Companies !!!</h1>

                  <div class="wrapper">
      
                      <div class="testimonial-carousel section-padding owl-carousel">
      
                          <div class="single-testi">
                              <div class="img-area">
                                  <img src="{% static 'images/p1.png' %}" alt="">
                              </div>
                              <div class="img-text">
                                  <h3 class="text-danger mt-2">Mr.Daniel</h3>
                                  <h3>Danish info Pvt.Ltd.</h3>
                                  <p>
                                      <i class="fa fa-star"></i>
                                      <i class="fa fa-star"></i>
                                      <i class="fa fa-star"></i>
                                      
                                  </p>
                                  <hr>
                                  <p>This website proved to be highly<br>creative and provide innovative idea's.<br>
                                    Candidate's here are disciplined and resilient.</p>
                              </div>
                          </div>
      
                          <div class="single-testi">
                                  <div class="img-area">
                                      <img src="{% static 'images/profile-1.jpg' %}" alt="">
                                  </div>
                                  <div class="img-text">
                                      <h3 class="text-danger mt-2">Mr.Wilson</h3>
                                  <h3>Hardware Solution's</h3>
                                      <p>
                                          <i class="fa fa-star"></i>
                                          <i class="fa fa-star"></i>
                                          <i class="fa fa-star"></i>
                                          <i class="fa fa-star"></i>
                                      </p>
                                      <hr>
                                      <p>Our Experience on this website<br>is really nice and fun.<br>
                                      Candidate's here are innovative and hard-working.</p>
                                  </div>
                              </div>
      
                              <div class="single-testi">
                                      <div class="img-area">
                                          <img src="{% static 'images/p3.png' %}" alt="">
                                      </div>
                                      <div class="img-text">
                                          <h3 class="text-danger mt-2">Ms.Vincent</h3>
                                  <h3>Haieron Pvt.Ltd.</h3>
                                          <p>
                                              <i class="fa fa-star"></i>
                                              <i class="fa fa-star"></i>
                                              <i class="fa fa-star"></i>
                                            
                                          </p>
                                          <hr>
                                          <p>Highly recommending this website.<br>Support and work is really amazing<br>
                                            It's still in progress,but nice to expand business..</p>
                                      </div>
                                  </div>
      
                                  <div class="single-testi">
                                          <div class="img-area">
                                              <img src="{% static 'images/p1.png' %}" alt="">
                                          </div>
                                          <div class="img-text">
                                              <h3 class="text-danger mt-2">Mr.Gurney</h3>
                                              <h3>MediaBiz Pvt.Ltd.</h3>
                                              <p>
                                                  <i class="fa fa-star"></i>
                                                  <i class="fa fa-star"></i>
                                                  <i class="fa fa-star"></i>
                                                  <i class="fa fa-star"></i>
                                              </p>
                                              <hr>
                                              <p>It's very easy to use this site<br>Candidate's here are Competitive.<br>
                                                Nice to see some Competition in market.</p>
                                          </div>
                                      </div>
      
      
      
                      </div>
                  </div>
              </div>
          </div>
</div>
<!--company details and testimonials ends here--->

<!--Our team section-->
<section class="team">
    <div class="container-fluid py-5 " style="background:rgba(0,0,0,0.2)">
        <h1 class=" text-center font-weight-light our">Our Team</h1>

        <div class="row">

            <div class="col-md-4 profile text-center" >
                <div class="img-box">
                    <img src="{% static 'images/p2.png'%}" class="img-responsive" alt="" >
                   
                    <ul>
                        <h2 class="text-center font-weight-light text-light">Sylen Will </h2>
                     <a href=""><li><i class="fab fa-facebook"></i></li></a>
                     <a href=""><li><i class="fab fa-twitter"></i></li></a>
                     <a href=""><li><i class="fab fa-instagram"></i></li></a>
                    </ul>
                </div>
                <h3 class="text-info mt-3">Founder/CEO</h3>   
            </div>
            <div class="col-md-4 profile text-center" >
                    <div class="img-box">
                        <img src="{% static 'images/profile-3.jpg'%}" class="img-responsive" alt="" >
                        <ul>
                            <h2 class="text-center font-weight-light text-light">Garry Wilson</h2>
                         <a href=""><li><i class="fab fa-facebook"></i></li></a>
                         <a href=""><li><i class="fab fa-twitter"></i></li></a>
                         <a href=""><li><i class="fab fa-instagram"></i></li></a>
                        </ul>
                    </div>
                    <h3 class="text-secondary mt-3">Web Designer</h3>   
                </div>

                <div class="col-md-4 profile text-center" >
                        <div class="img-box">
                            <img src="{% static 'images/p1.png'%}" class="img-responsive" alt="" >
                            <ul>
                                <h2 class="text-center font-weight-light text-light">Shane Cameron</h2>
                             <a href=""><li><i class="fab fa-facebook"></i></li></a>
                             <a href=""><li><i class="fab fa-twitter"></i></li></a>
                             <a href=""><li><i class="fab fa-instagram"></i></li></a>
                            </ul>
                        </div>
                        <h3 class="text-primary mt-3">Web Developer</h3>   
                    </div>

                  



        </div>
    </div>
</section>
<!--Our team section ends here-->  


<!----footer-->
<footer id="myFooter">
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <h5 class="logo mt-4"> <a href="{% url 'home' %}"><span class="am">E-</span><span class="am2">Recruitment</span></a></h5>
            </div>
            <div class="col-sm-2">
                <h5>Get started</h5>
                <ul>
                    <li><a href="{% url 'home' %}">Home</a></li>
                   
                   
                </ul>
            </div>
            <div class="col-sm-2">
                <h5>About us</h5>
                <ul>
                    <li><a href="{% url 'recruitment:about' %}">Company Information</a></li>
                    <li><a href="#">Reviews</a></li>
                </ul>
            </div>
            <div class="col-sm-2">
                <h5>Support</h5>
                <ul>
                        <li><a href="{% url 'recruitment:contactus' %}">Contact us</a></li>
                </ul>
            </div>
            <div class="col-sm-3">
                <div class="social-networks">
                    <a href="#" class="twitter"><i class="fab fa-twitter"></i></a>
                    <a href="#" class="facebook"><i class="fab fa-linkedin-in"></i></a>
                    <a href="#" class="google"><i class="fab fa-google-plus"></i></a>
                </div>
                <button type="button" class="btn btn-outline-light"><a href="{% url 'recruitment:contactus' %}">Contact Us</a></button>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <p> &COPY;2019 Copyright Text &COPY; </p>
    </div>
  </footer>  

      <script src="{% static 'jquery.min.js' %}"></script>
      <script src="{% static 'owl.carousel.js' %}"></script>
      <script>
      $('.testimonial-carousel').owlCarousel({
      loop:true,
      margin:40,
      autoplay:true,
      responsive:{
          300:{
              items:1
          },
           
          600:{
              items:1
          },
          900:{
              items:2
          },
         1200:{
              items:3
          }
      }
      
      })
      </script>   
      
      <script>
      $('#slider').owlCarousel({
    loop:true,
    margin:10,
    nav:false,
    autoplay:true,
    responsive:{
        0:{
            items:1
        },
        600:{
            items:2
        },
        1000:{
            items:3
        }
    }
})</script>
</body>
</html>