<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>E-Recruitment</title>
    <script src="{% static 'jquery.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <script src="{% static 'js/bootstrap.js' %}"></script>
    <link rel="stylesheet" href="{% static 'stylecss/dashboard.css'%}" type="text/css">
    <link rel="shortcut icon" href=" 2.jpg">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">
    
</head>
<body >
<div id="bgimg"style=" background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url('{% static 'images/p6.jpg' %}');">
            <nav class="navbar navbar-expand-md  navbar-dark  fixed-top" style=" background: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3))">
                <div class="container">
                    <a href="{% url 'recruitment:dashboard' %}" class="navbar-brand"><span class="am">E-</span><span class="am2">Recruitment</span></a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#sameer" ><span class="navbar-toggler-icon"></span></button>
                    <div class="collapse navbar-collapse" id="sameer">
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item active">
                                <a href="{% url 'recruitment:uslogout' %}" class="nav-link">LogOut</a>
                                </li>
                            
                        </ul>
                    </div>
                </div>
            </nav>
            <!---navbar-ends here-->
            <div class="container  headerset text-white">
                    <div class="row ">
                            <div class="col-md-12 ">
                                <h2 class=" font-weight-light mt-4"> Hii {{user}} Welcome !!!</h2> 
                              <div class="row py-3">
                                <div class="col-md-6 py-2">
                                    <div class="form-group mt-3">
                                          <h1 class="font-weight-light mt-2">Submit Your Job Application Form Here !!!</h1>
                                   </div>
                                </div>
                              </div> 
                            </div>
                          </div>           
                </div>
</div><!---first section ends here-->

        

<div class="container-fluid py-3" style="background: #F4F0ED;">
    <div class="row">
        <div class="col-md-9 mx-auto ">
            
            <h1 class="text-center font-weight-light text-success mt-3">Enter Details For Recruitment</h1>
            <h1>{{status}}</h1>
            <h1>{{out}}</h1>
            <form action="" class="text-white p-4" method="POST" enctype="multipart/form-data">
                {% csrf_token%}
                <div class="row py-3">
                
                    <div class="col-md-6">
                        <div class="form-group">
                            <input type="text" class="form-control" value="{{user.username}}" name="uname">
                        </div>
                    </div>

                    <div class="col-md-6">
                            <div class="form-group">
                                <input type="email" class="form-control"  value="{{user.email}}" name="uemail">
                            </div>
                        </div>

                        <div class="col-md-6">
                                <div class="form-group">
                                    <input type="number" class="form-control" value="{{rg}}" name="unumber">
                                </div>
                            </div>

                            <div class="col-md-6">
                                    <div class="form-group">
                                        <input type="Qualification" class="form-control" placeholder="Your Qualification" name="uqual">
                                    </div>
                                </div>

                            <div class="col-md-6">
                                    <div class="form-group">
                                            <input type="text" class="form-control" placeholder="Your Experience" name="uexp">
                                        </div>       
                            </div>

                            <div class="col-md-6">
                                    <div class="form-group">
                                            <input type="text" class="form-control" placeholder="Percentage (Enter numbers Only)" name="gp">
                                        </div>       
                            </div>
                            <div class="col-md-6 ">
                                    <div class="form-group">
                                            <input type="number" class="form-control" placeholder="Passing Out Year" name="py">
                                        </div>       
                            </div>

                            <div class="col-md-6">
                                <input type="text" class="form-control" placeholder="Describe Yourself in One Line" name="oself">
                            </div>

                            
                </div> 
               

                <div class="form-group text-center">
                    <input type="file" class="btn btn-outline-info px-5  form-control" value="Upload Resume" name="uresume">
                </div>

               

                <div class="form-group text-center">
                    <input type="submit" class="btn btn-outline-dark px-5" value="Submit">
                </div>

            </form>



        </div>
    </div>
</div>


   <!------contacts-->
    <!------contacts-->
    <footer id="myFooter">
            <div class="container">
                <div class="row">
                    <div class="col-sm-3">
                            <h5 class="logo mt-4"> <a href=""><span class="am">E-</span><span class="am2">Recruitment</span></a></h5>
                    </div>
                    <div class="col-sm-2">
                        <h5>Get started</h5>
                        <ul>
                            <li><a href="#" data-toggle="modal" data-target="#foruser">Home</a></li>
                            <li><a href="#" data-toggle="modal" data-target="#foruser">Sign up</a></li>
                           
                        </ul>
                    </div>
                    <div class="col-sm-2">
                        <h5>About us</h5>
                        <ul>
                            <li><a href="#" data-toggle="modal" data-target="#foruser">Company Information</a></li>
                            
                            <li><a href="#" data-toggle="modal" data-target="#foruser">Reviews</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-2">
                        <h5>Support</h5>
                        <ul>
                                <li><a href="#"  data-toggle="modal" data-target="#foruser">Contact us</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-3">
                        <div class="social-networks">
                            <a href="#"   data-toggle="modal" data-target="#foruser" class="twitter"><i class="fab fa-twitter" ></i></a>
                            <a href="#"  data-toggle="modal" data-target="#foruser" class="facebook"><i class="fab fa-linkedin-in"></i></a>
                            <a href="#"  data-toggle="modal" data-target="#foruser" class="google"><i class="fab fa-google-plus"></i></a>
                        </div>
                        <button type="button" class="btn btn-outline-light"  data-toggle="modal" data-target="#foruser">Contact us</button>
                    </div>
                </div>
            </div>
            <div class="footer-copyright">
                <p> &COPY;2019 Copyright Text &COPY; </p>
            </div>
          </footer>
          <!--contact section ends here-->
         
          <div class="container">
                <div class="row">
                    <div class="col-md-6">
            <div class="modal fade" role="dialog" id="foruser">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title"> We care for your securtiy ,LogOut First!!! Thank You </h5>
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>
                       
            
            
                    </div>
                </div>
            </div>
            </div>
            </div>
            </div>
      <!--contact section ends here-->

      {% if status %}
      <script>
      alert('{{status}}')
      </script>
      {% endif %}
</body>
</html>