<!DOCTYPE html>
{% load staticfiles%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="{% static 'jquery.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <script src="{% static 'js/bootstrap.js '%}"></script>
    <link rel="stylesheet" href="{% static 'stylecss/home.css'%}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">
    {% block myhead %}

    {% endblock %}
</head>
<body>
        <div id="bgimg"style=" background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url('{% static 'images/p6.jpg' %}');">
            <nav class="navbar navbar-expand-md  navbar-dark  fixed-top" style=" background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5))">
                <div class="container">
                    <a href="" class="navbar-brand"><span class="am">E-</span><span class="am2">Recruitment</span></a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#sameer" ><span class="navbar-toggler-icon"></span></button>
                    <div class="collapse navbar-collapse" id="sameer">
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item active"><a href=" " class="nav-link">Contact</a></li>
                            <li class="nav-item dropdown">
                                <a href=" " class="nav-link dropdown-toggle" id="navbarDropdown" roles="button" data-toggle="dropdown">Profile</a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdwon">
                                    <a href="{% url 'recruitment:change_password' %} " class="dropdown-item">Change Password</a>
                                    <a href="{% url 'recruitment:change_profile' %} " class="dropdown-item">Change Profile</a>
                                </div>
                            </li>
                            <li class="nav-item active"><a href= "" class="nav-link">LogOut</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
            <!---navbar-ends here-->
            <div class="container  headerset text-white">
                <div class="row ">
                  <div class="col-md-12 ">
                      <h2 class=" font-weight-light mt-4"> Hii {{user}},Welcome !!!</h2> 
                 
                    
                    <div class="row py-3">
                      <div class="col-md-6 py-2">
                          <div class="form-group mt-5">
                                <h1 class="font-weight-light mt-2">Search Best Job's</h1>
                          <input type="text" class="form-control " placeholder=" Search" >
                         </div>
                          <button class="btn btn-outline-light mt-3">Find Job's</button>
                      </div>
                    </div> 
                  </div>
                </div>          
                </div>
        </div><!---first section ends here-->
        <hr>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                        {% block mycode %}
               
                        {% endblock %}
                </div>
            </div>
        </div>


                            <!------contacts-->
<footer id="myFooter">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-3">
                    <h2 class="logo"><a href="#"> LOGO </a></h2>
                </div>
                <div class="col-sm-2">
                    <h5>Get started</h5>
                    <ul>
                        <li><a href="#">Home</a></li>
                        <li><a href="#">Sign up</a></li>
                        <li><a href="#">Downloads</a></li>
                    </ul>
                </div>
                <div class="col-sm-2">
                    <h5>About us</h5>
                    <ul>
                        <li><a href="#">Company Information</a></li>
                        <li><a href="#">Contact us</a></li>
                        <li><a href="#">Reviews</a></li>
                    </ul>
                </div>
                <div class="col-sm-2">
                    <h5>Support</h5>
                    <ul>
                        <li><a href="#">FAQ</a></li>
                        <li><a href="#">Help desk</a></li>
                        <li><a href="#">Forums</a></li>
                    </ul>
                </div>
                <div class="col-sm-3">
                    <div class="social-networks">
                        <a href="#" class="twitter"><i class="fab fa-twitter"></i></a>
                        <a href="#" class="facebook"><i class="fab fa-linkedin-in"></i></a>
                        <a href="#" class="google"><i class="fab fa-google-plus"></i></a>
                    </div>
                    <button type="button" class="btn btn-outline-light">Contact us</button>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <p> &COPY;2019 Copyright Text &COPY; </p>
        </div>
      </footer>
      <!--contact section ends here-->
                    </div>
                </div>
            </div>


</body>
</html>