<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>E-Recruitment</title>
    <script src="{% static 'jquery.js' %}"></script>
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="{% static 'jquery.flip.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <script src="{% static 'js/bootstrap.js' %}"></script>
    <link rel="stylesheet" href="{% static 'stylecss/dashboard.css'%}" type="text/css">
    <link rel="shortcut icon" href=" 2.jpg">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">
</head>
<body>
    <div id="bgimg"style=" background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url('{% static 'images/e15.jpg' %}');">
    <nav class="navbar navbar-expand-md  navbar-dark  fixed-top" style=" background: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3))">
        <div class="container">
            <a href="{% url 'recruitment:dashboard' %}" class="navbar-brand"><span class="am">E-</span><span class="am2">Recruitment</span></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#sameer" ><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="sameer">
                <ul class="navbar-nav ml-auto">
                   
                    <li class="nav-item  active dropdown">
                        <a href=" " class="nav-link dropdown-toggle" id="navbarDropdown" roles="button" data-toggle="dropdown">Settings</a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdwon">
                            <a href="{% url 'recruitment:change_password'%}" class="dropdown-item">Change Password</a>
                            <a href="{% url 'recruitment:change_profile'%}" class="dropdown-item">Change Profile</a>
                        </div>
                    </li>
                    <li class="nav-item active">
                        <a href="{% url 'recruitment:uslogout' %}" class="nav-link">LogOut</a>
                        </li>
                    
                </ul>
            </div>
        </div>
    </nav>
    <!---navbar-ends here-->
    <div class="container  headerset text-white">
        <div class="row ">
          <div class="col-md-12 ">
              <h2 class=" font-weight-light mt-3">Hii {{user}} !!!</h2> 
              <h2 class="font-weight-light mt-5">Change Your Profile Here ;</h2>
          </div>
        </div>          
        </div>
</div><!---first section ends here-->

<div class="container-fluid" style="background: #D3E7EE">
        <div class="row">
                <div class="col-md-8 mx-auto py-3">
                        <h1 class="font-weight-light text-center mt-3">Enter Your Credentials:</h1>
                    <form action="" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                    <div class="row mt-3">
                        
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="text" name="email" class="form-control" value="{{user.email}}">
                            </div>
                        </div>
                         
                        <div class="col-md-6">
                                <div class="form-group">
                                    <input type="number" name="contact" class="form-control" value="{{re.phone_no}}">
                                </div>
                            </div>
                    </div>

                    <div class="form-group">
                        <textarea name="address" id="" class="form-control"  rows="5">{{re.address}}</textarea>
                    </div>

                    <div class="row">
                        <div class="col-md-6 mx-auto">
                                <div class="form-group text-center ">
                                   <a href="{% url 'recruitment:change_profile'%}"><button class="btn btn-outline-success px-5 mt-2">Save</button></a>
                                </div>
                            </div>

                            <div class="col-md-6 mx-auto">
                                    <div class="form-group text-center">
                                        <a href="{% url 'recruitment:deleteus'%}" class="btn btn-outline-danger px-5 mt-2">Delete</a>
                                    </div>
                                </div>
                    </div>


                    </form>
                </div>
            </div>
    
</div>
   <!------contacts-->
   <!------contacts-->
   <footer id="myFooter">
        <div class="container">
            <div class="row">
                <div class="col-sm-3">
                        <h5 class="logo mt-4"> <a href=""><span class="am">E-</span><span class="am2">Recruitment</span></a></h5>
                </div>
                <div class="col-sm-2">
                    <h5>Get started</h5>
                    <ul>
                        <li><a href="#" data-toggle="modal" data-target="#foruser">Home</a></li>
                        <li><a href="#" data-toggle="modal" data-target="#foruser">Sign up</a></li>
                       
                    </ul>
                </div>
                <div class="col-sm-2">
                    <h5>About us</h5>
                    <ul>
                        <li><a href="#" data-toggle="modal" data-target="#foruser">Company Information</a></li>
                        
                        <li><a href="#" data-toggle="modal" data-target="#foruser">Reviews</a></li>
                    </ul>
                </div>
                <div class="col-sm-2">
                    <h5>Support</h5>
                    <ul>
                            <li><a href="#"  data-toggle="modal" data-target="#foruser">Contact us</a></li>
                    </ul>
                </div>
                <div class="col-sm-3">
                    <div class="social-networks">
                        <a href="#"   data-toggle="modal" data-target="#foruser" class="twitter"><i class="fab fa-twitter" ></i></a>
                        <a href="#"  data-toggle="modal" data-target="#foruser" class="facebook"><i class="fab fa-linkedin-in"></i></a>
                        <a href="#"  data-toggle="modal" data-target="#foruser" class="google"><i class="fab fa-google-plus"></i></a>
                    </div>
                    <button type="button" class="btn btn-outline-light"  data-toggle="modal" data-target="#foruser">Contact us</button>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <p> &COPY;2019 Copyright Text &COPY; </p>
        </div>
      </footer>
      <!--contact section ends here-->
     
      <div class="container">
            <div class="row">
                <div class="col-md-6">
        <div class="modal fade" role="dialog" id="foruser">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title"> We care for your securtiy ,LogOut First!!! Thank You </h5>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                   
        
        
                </div>
            </div>
        </div>
        </div>
        </div>
        </div>
     
      
    
    
    </body>
    </html>