<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Register As Company</title>
    <script src="jquery.js"></script>
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="jquery.flip.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <script src="{% static 'js/bootstrap.js' %}"></script>
    <link rel="stylesheet" href="{% static 'stylecss/signup.css'%}" type="text/css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">
</head>
<body>
<div class="bgimg"style=" background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)),url('{% static 'images/e16.jpg' %}');">
                <nav class="navbar navbar-expand-md  navbar-dark  fixed-top"style=" background: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4))">
                    <div class="container">
                        <a href="" class="navbar-brand"><span class="am">E-</span><span class="am2">Recruitment</span></a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#sameer" ><span class="navbar-toggler-icon"></span></button>
                        <div class="collapse navbar-collapse" id="sameer">
                            <ul class="navbar-nav ml-auto">
                                <li class="nav-item active"><a href="{% url 'home' %}" class="nav-link">Home</a></li>
                                <li class="nav-item active"><a href="{% url 'recruitment:about' %}" class="nav-link">About</a></li>
                                <li class="nav-item active"><a href="{% url 'recruitment:contactus' %}" class="nav-link">Contact</a></li>
                                <li class="nav-item active dropdown">
                                    <a href=" " class="nav-link dropdown-toggle" id="navbarDropdown" roles="button" data-toggle="dropdown">SignUp</a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdwon">
                                        <a href="{% url 'recruitment:company'%}" class="dropdown-item">As Company</a>
                                        <a href="{% url 'recruitment:signup'%}" class="dropdown-item">As User</a>
                                    </div>
                                </li>
                                <li class="nav-item active"><a href="{% url 'recruitment:usLogin' %}" class="nav-link">LogIn</a></li>
                                
                            </ul>
                        </div>
                    </div>
                </nav>
                <!---navbar-ends here-->
                <div class="container  headerset text-white">
                    <div class="row ">
                      <div class="col-md-12 ">
                            <h2 class=" font-weight-light">Empower Yourself</h2> 
                            <h1 class="font-weight-light display-4 mt-4 ">Register To Get Best From Us</h1> 
                        
                        
                      </div>
                    </div>          
                    </div>
</div><!---first section ends here-->


<section class="SignUp ">
        <div class="container-fluid ">
        <div class="row header2 text-center">
        <div class="col-md-12  ">
        <h1 class=" font-weight-light m-2">SignUp Using</h1>
        <hr class=" border">    
        </div>
        </div>
        <!----link section starts here-->
        <div class="row header1 ">
            
        <!---link account section ends here--> 
        <div class="col-md-2"></div>
        <div class="col-md-8 mt-2">
        <h1 class="text-center  font-weight-light p-2"> Create An Account</h1>
        
        
        <!---form starts here-->
      
        <form action="" method="POST">
            
            {% csrf_token %}
        <div class="form-group">
                <label for=" " class=""></label>
                <input type="text" name="cpname"  class="form-control" placeholder="Company Name">    
        </div>
        
        <div class="form-group">
                <label for=" " class=""></label>
                <input type="number" name="cpmobile"  class="form-control" placeholder="Contact No.">    
        </div>
        
        <div class="form-group">
                <label for=" " class=""></label>
                <input type="text" name="email" id="" class="form-control" placeholder="E-mail">    
        </div>

        <div class="form-group">
                <label for="" class=""></label>
                <input type="text" name="cpusername"  class="form-control" placeholder="User Name">    
             </div>
        
        <div class="form-group">
                <label for="" class=""></label>
                <input type="password" name="password"  class="form-control" placeholder="Password">    
        </div>
        <div class="form-group">
                <label for="" class=""></label>
                <input type="text" name="address"  class="form-control" placeholder="address">    
        </div>
        
        
        
        <div class="form-group text-center">
       
    <input type="submit" class="btn  px-5 btn-outline-success">  
        
        </div>
    </form> 
        <div class="col-md-2">
           
        </div>

        
        <!----form ends here-->    
        </div>
        </div>
        </section>  



        <footer id="myFooter">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-3">
                            <h5 class="logo mt-4"> <a href="{% url 'home' %}"><span class="am">E-</span><span class="am2">Recruitment</span></a></h5>
                        </div>
                        <div class="col-sm-2">
                            <h5>Get started</h5>
                            <ul>
                                <li><a href="{% url 'home' %}">Home</a></li>
                               
                               
                            </ul>
                        </div>
                        <div class="col-sm-2">
                            <h5>About us</h5>
                            <ul>
                                <li><a href="{% url 'recruitment:about' %}">Company Information</a></li>
                                <li><a href="#">Reviews</a></li>
                            </ul>
                        </div>
                        <div class="col-sm-2">
                            <h5>Support</h5>
                            <ul>
                                    <li><a href="{% url 'recruitment:contactus' %}">Contact us</a></li>
                            </ul>
                        </div>
                        <div class="col-sm-3">
                            <div class="social-networks">
                                <a href="#" class="twitter"><i class="fab fa-twitter"></i></a>
                                <a href="#" class="facebook"><i class="fab fa-linkedin-in"></i></a>
                                <a href="#" class="google"><i class="fab fa-google-plus"></i></a>
                            </div>
                            <button type="button" class="btn btn-outline-light"><a href="{% url 'recruitment:contactus' %}">Contact Us</a></button>
                        </div>
                    </div>
                </div>
                <div class="footer-copyright">
                    <p> &COPY;2019 Copyright Text &COPY; </p>
                </div>
              </footer>
<!--contact section ends here-->    
{% if status %}
                   <script>
                   alert('{{status}}')
                   </script>
                   {% endif %}        
</body>
</html>