<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Contact US</title>
    <script src="jquery.js"></script>
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="jquery.flip.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <script src="{% static 'js/bootstrap.js '%}"></script>
    <link rel="stylesheet" href="{% static 'stylecss/contact.css'%}" type="text/css">
    <link rel="shortcut icon" href="2.jpg">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">
</head>
<body>
        <div class="bgimg"style=" background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url('{% static 'images/splash.jpg' %}');">
                <nav class="navbar navbar-expand-md  navbar-dark  fixed-top" style="    background: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3))">
                    <div class="container">
                        <a href="" class="navbar-brand"><span class="am">E-</span><span class="am2">Recruitment</span></a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#sameer" ><span class="navbar-toggler-icon"></span></button>
                        <div class="collapse navbar-collapse" id="sameer">
                            <ul class="navbar-nav ml-auto">
                                <li class="nav-item active"><a href="{% url 'home' %}" class="nav-link">Home</a></li>
                                <li class="nav-item active"><a href="{% url 'recruitment:about' %}" class="nav-link">About</a></li>
                                <li class="nav-item active"><a href="{% url 'recruitment:contactus' %}" class="nav-link">Contact</a></li>
                                <li class="nav-item active dropdown">
                                    <a href=" " class="nav-link dropdown-toggle" id="navbarDropdown" roles="button" data-toggle="dropdown">SignUp</a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdwon">
                                        <a href="{% url 'recruitment:company'%}" class="dropdown-item">As Company</a>
                                        <a href="{% url 'recruitment:signup'%}" class="dropdown-item">As User</a>
                                    </div>
                                </li>
                                <li class="nav-item active"><a href="{% url 'recruitment:usLogin' %}" class="nav-link">LogIn</a></li>
                                
                            </ul>
                        </div>
                    </div>
                </nav>
                <!---navbar-ends here-->
                <div class="container  headerset text-white">
                    <div class="row ">
                      <div class="col-md-12 ">
                          <h2 class=" font-weight-light">Empower Yourself</h2> 
                          <h1 class="font-weight-light display-2 mt-3 ">Contact Us</h1>
                        
                         
                      </div>
                    </div>          
                    </div>
            </div><!---first section ends here-->
           
            <section class="container-fluid header2">
                    <div class="row p-5">
                    <div class="col-md-12 ourinfo text-center ">       
                    <div class="row rowsetting  ">
                    <div class="col-md-3 col-lg-3 col-sm-3 d-block m-auto ">
                    <div class="imgset d-block m-auto">
                    <i class="fa fa-map-marker fa-2x p-3"></i>
                    <h2>Location</h2>
                    <p>HM-35,Phase-5,SCF-59,Mohali,Punjab</p>
                    </div>    
                    </div>
                    
                    <div class="col-md-3 col-lg-3 col-sm-3 d-block m-auto  ">
                            <div class="imgset d-block m-auto">
                            <i class="fa fa-phone fa-2x p-3"></i>
                            <h3 >Phone</h3>
                            <p>Ph.: +91 78149-71293 </p> 
                            </div>    
                            </div>
                    
                    <div class="col-md-3 col-lg-3 col-sm-3 d-block m-auto  ">
                    <div class="imgset d-block m-auto">
                    <i class="fa fa-fax fa-2x p-3"></i>
                    <h3 >Fax</h3>
                    <p>Fax: +1 709-834-2693</p> 
                    </div>    
                    </div>
                    
                    <div class="col-md-3 col-lg-3 col-sm-3 d-block m-auto  ">
                    <div class="imgset d-block m-auto">
                    <i class="fa fa-envelope fa-2x sr-contact p-3 "></i>
                    <h3>E-Mail</h3>  
                    <p>sameerdubey580@gmail.com</p> 
                    </div>    
                    </div>
                    
            </div> 
            </div>
            </div> 
                    </section><!---services ends here-->
               

<!---contact sectin starst here-->
<div class="container-fluid ">
<div class="row header1">
<div class="col-md-8 py-4 my-4 mx-auto">
    <h1 class="text-center text-success display-3 font-weight-light mb-4">Ask Question's</h1>
        <h1>{{status}}</h1>
    <form action="" method="POST">
        {% csrf_token %}
        <div class="row">
                

            <div class="col-md-6">
                <div class="form-group">
                    <input type="text" class="form-control" name="firstname" placeholder="Enter First Name">
                </div>
            </div>
            <div class="col-md-6">
                    <div class="form-group">
                        <input type="text" name="lastname" class="form-control" placeholder="Enter last Name">
                    </div>
                </div>

                <div class="col-md-6">
                        <div class="form-group">
                            <input type="email" name="ctemail" class="form-control" placeholder="Enter Your Email">
                        </div>
                    </div>  
                <div class="col-md-6">
                        <div class="form-group">
                            <input type="number" name="ctnumber" class="form-control" placeholder="Enter Your Contact No:">
                        </div>
                    </div>    
        </div>
                <textarea name="ctmess" class="form-control"  rows="10"></textarea>

               <div class="form-group text-center">
                    <input type="submit" class="btn btn-outline-success px-5 mt-3" name="feedback" value="Send">
               </div>
    </form>
</div>

</div>    
</div>
<!---contact sectin ends here-->
<!---map section starts here-->
<div class="container-fluid">
<div class="row">
<div class="col-md-12 bg-white">
<h3 class="text-center font-weight-light  mt-3">Search Us On Map:</h3>
<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d15258072.40570261!2d82.75252935!3d20.98801345!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sin!4v1553445193160" 
width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>    
</div>    
</div>    
</div>
<!---map section ends here-->

<footer id="myFooter">
        <div class="container">
            <div class="row">
                <div class="col-sm-3">
                    <h5 class="logo mt-4"> <a href="{% url 'home' %}"><span class="am">E-</span><span class="am2">Recruitment</span></a></h5>
                </div>
                <div class="col-sm-2">
                    <h5>Get started</h5>
                    <ul>
                        <li><a href="{% url 'home' %}">Home</a></li>
                       
                       
                    </ul>
                </div>
                <div class="col-sm-2">
                    <h5>About us</h5>
                    <ul>
                        <li><a href="{% url 'recruitment:about' %}">Company Information</a></li>
                        <li><a href="#">Reviews</a></li>
                    </ul>
                </div>
                <div class="col-sm-2">
                    <h5>Support</h5>
                    <ul>
                            <li><a href="{% url 'recruitment:contactus' %}">Contact us</a></li>
                    </ul>
                </div>
                <div class="col-sm-3">
                    <div class="social-networks">
                        <a href="#" class="twitter"><i class="fab fa-twitter"></i></a>
                        <a href="#" class="facebook"><i class="fab fa-linkedin-in"></i></a>
                        <a href="#" class="google"><i class="fab fa-google-plus"></i></a>
                    </div>
                    <button type="button" class="btn btn-outline-light"><a href="{% url 'recruitment:contactus' %}">Contact Us</a></button>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <p> &COPY;2019 Copyright Text &COPY; </p>
        </div>
      </footer>
  
  
  {% if status %}
  <script>
  alert('{{status}}')
  </script>
  {% endif %}
</body>
</html>