<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>E-Recruitment</title>
    <script src="{% static 'jquery.js' %}"></script>
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <script src="{% static 'js/bootstrap.js' %}"></script>
    <link rel="stylesheet" href="{% static 'stylecss/dashboard.css'%}" type="text/css">
    <link rel="shortcut icon" href=" 2.jpg">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">
    
</head>
<body>
    <div id="bgimg"style=" background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url('{% static 'images/e6.jpg' %}');">
    <nav class="navbar navbar-expand-md  navbar-dark  fixed-top" style=" background: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3))">
        <div class="container">
            <a href="{% url 'recruitment:dashboard' %}" class="navbar-brand"><span class="am">E-</span><span class="am2">Recruitment</span></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#sameer" ><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="sameer">
                <ul class="navbar-nav ml-auto">
                   
                    <li class="nav-item  active dropdown">
                        <a href=" " class="nav-link dropdown-toggle" id="navbarDropdown" roles="button" data-toggle="dropdown">Settings</a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdwon">
                            <a href="{% url 'recruitment:change_password'%}" class="dropdown-item">Change Password</a>
                            <a href="{% url 'recruitment:change_profile'%}" class="dropdown-item">Change Profile</a>
                        </div>
                    </li>
                    <li class="nav-item active">
                      <a href="{% url 'recruitment:uslogout' %}" class="nav-link" name="Logout">LogOut</a>
                        </li>
                    
                </ul>
            </div>
        </div>
    </nav>
    <!---navbar-ends here-->
    <div class="container  headerset text-white">
            <div class="row ">
                    <div class="col-md-12">
                        <h2 class=" font-weight-light mt-4"> Hii {{user}},Welcome !!!</h2> 
                        <h2 class=" font-weight-light mt-4"> Search Best Job's !!!</h2> 

                       
                            <form action="{% url 'recruitment:get_post'%}" method="POST">
                                    {% csrf_token%}
                                <div class="row mt-3">

                                <div class="col-md-4">
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="Job Title" name="jb" >
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="Job Location" name="cy" >
                                    </div>
                                </div>
                            </div> 

                            <div class="form-group mt-3">
                              <a href="{% url 'recruitment:get_post'%}">  <input type="submit" class="btn btn-outline-light px-5" value="Search"></a>
                            </div>
 
                            </form>
                        </div>
                 
                    </div>
                            
        </div>
</div><!---first section ends here-->
<hr>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            
            <h1>{{output1}}</h1>

            <h2 class="text-center font-weight-light ">User Dashboard</h2>
            <div class="table-responsive">
                <table class="table table-striped ">
                    <thead class="bg-dark text-white">
                        <tr>
                           <th>Job Title</th>
                           <th>Job Category</th>
                           <th>HR Name</th>
                           <th>Email</th>
                           <th>Vacancies</th>
                           <th>Qualification</th>
                           <th>Salary</th>
                           <th>Apply</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for p in all %}
                        <tr>
                            <td>{{p.job_title}}</td>
                            <td>{{p.job_category}}</td>
                            <td>{{p.HR_name}}</td>
                            <td>{{p.Email}}</td>
                            <td>{{p.vacancies}}</td>
                            <td>{{p.qualification}}</td>
                            <td>{{p.salary}}</td>
                            <td><a href="{% url 'recruitment:applyform'%}?jid={{p.id}}&cid={{p.comp.id}}&uid={{user.id}}"><button class="btn btn-success">Apply</button></a></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                    
                </table>
            </div>
        </div>
    </div>
</div>

   <!------contacts-->
   <footer id="myFooter">
        <div class="container">
            <div class="row">
                <div class="col-sm-3">
                        <h5 class="logo mt-4"> <a href=""><span class="am">E-</span><span class="am2">Recruitment</span></a></h5>
                </div>
                <div class="col-sm-2">
                    <h5>Get started</h5>
                    <ul>
                        <li><a href="#" data-toggle="modal" data-target="#foruser">Home</a></li>
                        <li><a href="#" data-toggle="modal" data-target="#foruser">Sign up</a></li>
                       
                    </ul>
                </div>
                <div class="col-sm-2">
                    <h5>About us</h5>
                    <ul>
                        <li><a href="#" data-toggle="modal" data-target="#foruser">Company Information</a></li>
                        
                        <li><a href="#" data-toggle="modal" data-target="#foruser">Reviews</a></li>
                    </ul>
                </div>
                <div class="col-sm-2">
                    <h5>Support</h5>
                    <ul>
                            <li><a href="#"  data-toggle="modal" data-target="#foruser">Contact us</a></li>
                    </ul>
                </div>
                <div class="col-sm-3">
                    <div class="social-networks">
                        <a href="#"   data-toggle="modal" data-target="#foruser" class="twitter"><i class="fab fa-twitter" ></i></a>
                        <a href="#"  data-toggle="modal" data-target="#foruser" class="facebook"><i class="fab fa-linkedin-in"></i></a>
                        <a href="#"  data-toggle="modal" data-target="#foruser" class="google"><i class="fab fa-google-plus"></i></a>
                    </div>
                    <button type="button" class="btn btn-outline-light"  data-toggle="modal" data-target="#foruser">Contact us</button>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <p> &COPY;2019 Copyright Text &COPY; </p>
        </div>
      </footer>
      <!--contact section ends here-->
     
      <div class="container">
            <div class="row">
                <div class="col-md-6">
        <div class="modal fade" role="dialog" id="foruser">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title"> We care for your securtiy ,LogOut First!!! Thank You </h5>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                   
        
        
                </div>
            </div>
        </div>
        </div>
        </div>
        </div>
    
    
    </body>
    </html>