<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>E-Recruitment</title>
    <script src="{% static 'jquery.js' %}"></script>
    
    
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <script src="{% static 'js/bootstrap.js' %}"></script>
    <link rel="stylesheet" href="{% static 'stylecss/home.css'%}" type="text/css">
    <link rel="stylesheet" href="{% static 'stylecss/owl.carousel.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'stylecss/owl.theme.default.min.css' %}" type="text/css">
    <link rel="shortcut icon" href=" 2.jpg">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">
</head>
<body>
    <div id="bgimg"style=" background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url('{% static 'images/e5.jpg' %}');">
    <nav class="navbar navbar-expand-md  navbar-dark  fixed-top" style=" background: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3))">
        <div class="container">
            <a href="" class="navbar-brand"><span class="am">E-</span><span class="am2">Recruitment</span></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#sameer" ><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="sameer">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active"><a href="{% url 'home' %}" class="nav-link">Home</a></li>
                    <li class="nav-item active"><a href="{% url 'recruitment:about' %}" class="nav-link">About</a></li>
                    <li class="nav-item active"><a href="{% url 'recruitment:contactus' %}" class="nav-link">Contact</a></li>
                    <li class="nav-item active dropdown">
                        <a href=" " class="nav-link dropdown-toggle" id="navbarDropdown" roles="button" data-toggle="dropdown">SignUp</a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdwon">
                            <a href="{% url 'recruitment:company'%}" class="dropdown-item">As Company</a>
                            <a href="{% url 'recruitment:signup'%}" class="dropdown-item">As User</a>
                        </div>
                    </li>
                    <li class="nav-item active"><a href="{% url 'recruitment:usLogin' %}" class="nav-link">LogIn</a></li>
                        
                    
                </ul>
            </div>
        </div>
    </nav>
    <!---navbar-ends here-->
    <div class="container headerset text-white" style="height:630px;">
        <div class="row ">
          <div class="col-md-12 my-3">
              <h2 class=" font-weight-light">Empower Yourself</h2> 
              <h1 class="font-weight-light mt-5 text-light text-center" style="font-family:cursive">We aim above the Mark to hit the Mark !!!</h1>
            
            <div class="row">
              <div class="col-md-6">
                  <div class="form-group ">
                 <h2 class="text-light font-weight-light mt-4">Providing Best Sources for Recruitment.</h2>
                 <h3 class="text-light font-weight-light"></h3>
                  <button class="btn btn-outline-light px-3 mt-5" data-toggle="modal" data-target="#jobsearch">Find Job's</button>
              </div>
            </div> 
          </div>
        </div>          
        </div>
</div><!---first section ends here-->
</div><!---first section ends here-->

<section class="aboutcomp" >
<div class="container">
  <div class="row rowsetting text-center text-secondary">
      <div class="col-md-4 col-lg-4 col-sm-4 d-block m-auto ">
          <div class="imgset d-block m-auto">
          <i class="fa fa-building fa-3x sr-contact p-3"></i>
          <h2>43 Companies</h2>
          <p>We are proud to say that:</p>
          </div>    
          </div>  
          
          <div class="col-md-4 col-lg-4 col-sm-4 d-block m-auto  ">
          <div class="imgset d-block m-auto">
          <i class="fa fa-users fa-3x sr-contact p-3"></i>
          <h3 >1067 Recruitment's</h3>
          <p>Increasing Day by Day:</p> 
          </div>    
          </div>
          
          <div class="col-md-4 col-lg-4 col-sm-4 d-block m-auto  ">
          <div class="imgset d-block m-auto">
          <i class="fa fa-globe-europe fa-3x sr-contact p-3 "></i>
          <h3>Expanding Our Ambition</h3>  
          <p>Working Hard To Achieve It</p> 
          </div>    
          </div>
  </div>
</div>
</section>

<section>
    <div class="bgimg1"style=" background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url('{% static 'images/e9.jpg' %}');">
       <div class="container-fluid" >
       <div class="row ">
       <div class="col-md-12 d-block ">
       <h1 class="text-light font-weight-light">Personal virtual Assistant's</h1>       
       <h1  class="text-light">Don't just take our</h1>       
       <h4  class="text-light font-weight-light mt-3">We are proud to say that since our opening in ’19 we have been serving <br>
       our visitors in the best possible way.</h4>  
       <button class="btn btn-outline-info mt-5">Search Job's</button>            
       </div>        
       </div>        
       </div>
       </div>
</section>
    <!---assitant section-->
<!----PROFILE PAGE -->
       <!----anim box starts here-->
       
<div class="container cardc  ">
        

    
        <div class="card">
    
                <div class="imgbox" style="background: lightblue;">
                    <img src="{% static 'images/p9.jpg' %}" height="338" width="296" alt="">
                    <h5 class="text-center mt-2 ">Website Developer's</h5>
                </div>
    
                <div class="details">
                    <h5 class="mt-2">Information related to Website Development</h5>
                    <p class="mt-4">Web Developer's are jack of all trades.They create web pages,web appications and web content.
                        Candidates need to have proficiency in Web languages,like HTML,Frameworks,CSS,jAVASCRIPT,etc.
                        <strong style="color: lightslategrey;">Web developer's are self-taught and use their "portfolios" to win positons.</strong>
                    </p>  
                      
                </div>
    
            </div>

            <div class="card">
    
                    <div class="imgbox" style="background: lightblue;">
                        <img src="{% static 'images/c1.jpg' %}" height="338" width="296" alt="">
                        <h5 class="text-center mt-2 ">IT Consultant's</h5>
                    </div>
        
                    <div class="details">
                        <h5 class="mt-2">Information related to IT Consultant</h5>
                        <p class="mt-4">In this position,your job is to evaluate the systems and do research that no one else understands
                            <strong style="color: lightslategrey;">A bacheor's degree in computer science definirely helps.</strong>
                        </p>  
                          
                    </div>
        
                </div>

            
    
                <div class="card">
    
                        <div class="imgbox" style="background: lightblue;">
                            <img src="{% static 'images/c7.jpg' %}" height="338" width="296" alt="">
                            <h5 class="text-center mt-2">Mobile Application Developer's</h5>
                        </div>
            
                        <div class="details">
                            <h5 class="mt-2">Information related to Moblie Application developer</h5>
                            <p class="mt-2">According to CareerRealism survey,the use of mobile tech is predicted to exceed personal computers by 2022,Using basic
                                coding languages,developers will create programs for future iOS and Android Devices.
                                <strong style="color: lightslategrey;">Bacheor's in software engg.,and computer science important.</strong>
                            </p>  
                              
                        </div>
            
                    </div>
    
                    <div class="card">
    
                            <div class="imgbox" style="background: lightblue;">
                                <img src="{% static 'images/c2.jpg' %}" height="338" width="296" alt="">
                                <h5 class="text-center mt-2">Software Engineer's</h5>
                            </div>
                
                            <div class="details">
                                <h5 class="mt-2">Information related to Software Engineers</h5>
                                <p class="mt-2">Software engineers are behind all the programs we run on our mobile devices and personal computer's-and there's
                                    wide range of fields you can work in.Bchelor's in software engineering or related fiels is best
                                    <strong style="color: lightslategrey;">Like video games? Want to design the next Facbook? This is for you. </strong>
                                </p>  
                                  
                            </div>
                
                        </div>
    
                        <div class="card">
    
                                <div class="imgbox" style="background: lightblue;">
                                    <img src="{% static 'images/c4.jpg' %}" height="338" width="296" alt="">
                                    <h5 class="text-center mt-2">Database Administrator's</h5>
                                </div>
                    
                                <div class="details">
                                    <h5 class="mt-2">Information related to DBA'S</h5>
                                    <p class="mt-2">Data Administrator's are responsible for organizing and managing an organization's data,making sure that data 
                                        is accurate and available and database performance meets organizational requirements
                                        <strong style="color: lightslategrey;">Bachelor's in computer's science and Employer's may prefer Candidates with an MBA
                                            with a concentration in database management.</strong>
                                    </p>  
                                      
                                </div>
                    
                            </div>
    
                            <div class="card">
    
                                    <div class="imgbox" style="background: lightblue;">
                                        <img src="{% static 'images/c6.jpg' %}" height="338" width="296" alt="">
                                        <h5 class="text-center mt-2">Network Administrator's</h5>
                                    </div>
                        
                                    <div class="details">
                                        <h5 class="mt-2">Information related to Network Administrator</h5>
                                        <p class="">Network Administrators implement and maintain network software and hardware,fix network problems,and ensure
                                        network security ,availability,and performance standards.They optimize systems to reduce costs and increase productivity,as well as,
                                        install,optimize new systems.
                                            <strong style="color: lightslategrey;">Bacheor's in network Administrator,and computer's science important.</strong>
                                        </p>  
                                          
                                    </div>
                        
                                </div>

           
</div>
        <!----ends here-->



<!----testimonial section starts here-->
<div class="container">
    <div class="row">
        <div class="col-md-12 py-3">
<h1 class="text-center mt-5 font-weight-light text-success">Testimonials of our Best User !!!</h1>
            <div class="wrapper">

                <div class="testimonial-carousel section-padding owl-carousel">

                    <div class="single-testi">
                        <div class="img-area">
                            <img src="{% static 'images/p1.png' %}" alt="">
                        </div>
                        <div class="img-text">
                            <h2>John Doe</h2>
                            <h3>Website Developer</h3>
                            <p>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </p>
                            <hr>
                            <p>Very Professional and Honest<br>Highly Recommending</p>
                        </div>
                    </div>

                    <div class="single-testi">
                            <div class="img-area">
                                <img src="{% static 'images/profile-1.jpg' %}" alt="">
                            </div>
                            <div class="img-text">
                                <h2>Sam Wilson</h2>
                                <h3>Network Engineer</h3>
                                <p>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </p>
                                <hr>
                                <p>Creative and Innovative<br>Nice to be on this Website</p>
                            </div>
                        </div>

                        <div class="single-testi">
                                <div class="img-area">
                                    <img src="{% static 'images/profile-2.jpg' %}" alt="">
                                </div>
                                <div class="img-text">
                                    <h2>Johny Depp</h2>
                                    <h3>SEO Analyst</h3>
                                    <p>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                    </p>
                                    <hr>
                                    <p>I really like their support service's<br>It's amazing.</p>
                                </div>
                            </div>

                            <div class="single-testi">
                                    <div class="img-area">
                                        <img src="{% static 'images/profile-3.jpg' %}" alt="">
                                    </div>
                                    <div class="img-text">
                                        <h2>Harry Gurney</h2>
                                        <h3>Android Developer</h3>
                                        <p>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                        </p>
                                        <hr>
                                        <p>Competition is hard but it's also<br>improve our skills</p>
                                    </div>
                                </div>



                </div>
            </div>
        </div>
    </div>
</div>


<!-------6th box video one-->
<section class="vid">
<div class="container-fluid">
<div class="row bg-dark">
<!---for video section-->
<div class="col-md-6 ">
<video controls class="h-100 w-100" loop autoplay muted>
<source src="{% static 'stylecss/song2.mp4' %}"> 

</video>
</div>
<!---for assistant section-->  
<div class="col-md-6 p-5 d-block m-auto bg-dark">
<h1 class="text-light font-weight-light mt-2 ">Personal virtual Assistant's</h1>       
<h1  class="text-light mt-3">Don't just take our</h1>       
<h3  class="text-light  font-weight-light mt-4">We are proud to say that since our opening in ’18 we have been serving <br>
our visitors in the best possible way.</h3>  
<a href=" " data-toggle="modal" data-target="#jobsearch"><button class="btn btn-outline-success mt-3 ">Search Job's</button></a>  
</div>  
</div>  
</div>  
</section>
<!---footer section -->

   <!------contacts-->
<footer id="myFooter">
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <h5 class="logo mt-4"> <a href="{% url 'home' %}"><span class="am">E-</span><span class="am2">Recruitment</span></a></h5>
            </div>
            <div class="col-sm-2">
                <h5>Get started</h5>
                <ul>
                    <li><a href="{% url 'home' %}">Home</a></li>
                </ul>
            </div>
            <div class="col-sm-2">
                <h5>About us</h5>
                <ul>
                    <li><a href="{% url 'recruitment:about' %}">Company Information</a></li>
                    <li><a href="#">Reviews</a></li>
                </ul>
            </div>
            <div class="col-sm-2">
                <h5>Support</h5>
                <ul>
                        <li><a href="{% url 'recruitment:contactus' %}">Contact us</a></li>
                </ul>
            </div>
            <div class="col-sm-3">
                <div class="social-networks">
                    <a href="#" class="twitter"><i class="fab fa-twitter"></i></a>
                    <a href="#" class="facebook"><i class="fab fa-linkedin-in"></i></a>
                    <a href="#" class="google"><i class="fab fa-google-plus"></i></a>
                </div>
                <button type="button" class="btn btn-outline-light"><a href="{% url 'recruitment:contactus' %}">Contact Us</a></button>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <p> &COPY;2019 Copyright Text &COPY; </p>
    </div>
  </footer>
  <!--contact section ends here-->
 
  <!---modal for forget password-->
<div class="container">
        <div class="row">
            <div class="col-md-6">
    <div class="modal fade" role="dialog" id="jobsearch">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Login or SignUp first !!! Thank You </h5>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
               
    
    
            </div>
        </div>
    </div>
    </div>
    </div>
    </div>
    <!---modal for forget password ends here-->

<script src="{% static 'jquery.min.js' %}"></script>
<script src="{% static 'owl.carousel.js' %}"></script>
<script>
$('.testimonial-carousel').owlCarousel({
loop:true,
margin:40,
autoplay:true,
responsive:{
    300:{
              items:1
          },
           
          600:{
              items:1
          },
          900:{
              items:2
          },
         1200:{
              items:3
          }
}

})

</script>
</body>
</html>


