<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>LogIn Page</title>
    <script src="{% static 'jquery.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <script src="{% static 'js/bootstrap.js' %}"></script>
    <link rel="stylesheet" href="{% static 'stylecss/login.css' %}" type="text/css">
    <link rel="shortcut icon" href="2.jpg">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">
</head>
<body>
        <div class="bgimg"style=" background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url('{% static 'images/e13.jpg' %}');">
                <nav class="navbar navbar-expand-md  navbar-dark  fixed-top" style="    background: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3))">
                    <div class="container">
                        <a href="" class="navbar-brand"><span class="am">E-</span><span class="am2">Recruitment</span></a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#sameer" ><span class="navbar-toggler-icon"></span></button>
                        <div class="collapse navbar-collapse" id="sameer">
                            <ul class="navbar-nav ml-auto">
                                <li class="nav-item active"><a href="{% url 'home' %}" class="nav-link">Home</a></li>
                                <li class="nav-item active"><a href="{% url 'recruitment:about' %}" class="nav-link">About</a></li>
                                <li class="nav-item active"><a href="{% url 'recruitment:contactus' %}" class="nav-link">Contact</a></li>
                                <li class="nav-item active dropdown">
                                    <a href=" " class="nav-link dropdown-toggle" id="navbarDropdown" roles="button" data-toggle="dropdown">SignUp</a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdwon">
                                        <a href="{% url 'recruitment:company'%}" class="dropdown-item">As Company</a>
                                        <a href="{% url 'recruitment:signup'%}" class="dropdown-item">As User</a>
                                    </div>
                                </li>
                                <li class="nav-item active"><a href="{% url 'recruitment:usLogin' %}" class="nav-link">LogIn</a></li>
                                
                            </ul>
                        </div>
                    </div>
                </nav>
                <!---navbar-ends here-->
                <div class="container  headerset text-white">
                    <div class="row ">
                      <div class="col-md-12 ">
                          <h2 class=" font-weight-light">Empower Yourself</h2> 
                          <h2 class="font-weight-light display-4 mt-4">Log In To Get Up-To-Date</h2>
                        
                        
                      </div>
                    </div>          
                    </div>
            </div><!---first section ends here-->
            

<section class="login">
    <div class="container-fluid">

        <div class="row header2" >
            <div class="col-md-12 text-center">
                <h1 class="text-center font-weight-light">LogIn</h1>
                <hr class="border">
                <button type="button" class="btn btn-outline-danger px-4">Google</button>
                <button type="button" class="btn btn-outline-secondary px-3">Linked-In</button>
               
                <div class="row header1 " >
                        <div class="col-md-3"></div>
                        
                        <div class="col-md-6 text-center mt-4" >
                         <h2 class="text-center  font-weight-light mt-1"> Or Enter Your Credentials</h2>         
                        <!---form starts here-->
                        <form action="" method="POST">
                            {% csrf_token%}
                        <div class="form-group ">
                        <label for="username" class=""></label>
                        <input type="text" name="username" class="form-control" placeholder="User Name">    
                         </div>
                         <div class="form-group">
                        <label for="password" class=""></label>
                        <input type="password" name="password" id="user" class="form-control" placeholder="Password">    
                         </div>
                        <!---make a row-->
                        <div class="row ">
                        <div class="col-md-6 mt-3">
                        <input type="checkbox" name="rememberme" class="ml-4">
                        <label for="">Remember me</label>
                        </div> 
                        <div class="col-md-6  mt-3 service">
                        <a href="" data-toggle="modal" data-target="#loginModal"><p>Forget Your Password?</p></a>
                        </div> 
                        </div>
                      <input type="submit" class="btn btn-outline-success px-5 mb-4">
                        </form> 
                        <!---make row ends here-->
                        <div class="col-md-3"></div>
                        </div>
                        
                        </div>
                        <!---row for login section-->
                        </div>                
            </div>
        </div>

    </div>

</section>      

<!---modal for forget password-->
<div class="container">
<div class="row">
<div class="col-md-6">
<div class="modal fade" role="dialog" id="loginModal">
<div class="modal-dialog">
<div class="modal-content">
        <form method="post">
            {% csrf_token%}
<div class="modal-header">
<h3 class="modal-title">Register Your New Password</h3>
<button type="button" class="close" data-dismiss="modal">&times;</button>
</div>
<div class="modal-body">
<p id="msz"></p>

<div class="form-group">
<input type="text" class="form-control" placeholder="username" name="uname" id="fpwd" onkeyup="change_pwd()">
</div>
<input type="hidden" id="genOTP">
<div class="form-group" id="otpbox" style="display:none">
<input type="number" class="form-control" placeholder="Enter OTP" onkeyup="matchOTP()" id="userotp">
</div>
<div id="passwords" style="display:none">
<div class="form-group">
<input type="password" class="form-control" placeholder="New Password" name="newpd">
</div>
<div class="form-group">
<input type="password" class="form-control" placeholder="Confirm Password" name="confirmpd">
</div>
</div>
</div>
<div class="modal-footer">
<a><input type="submit" class="btn btn-outline-success px-4 mt-2" name="forgot"
value="Submit"></a>
</div>
</form>
</div>
</div>
</div>
</div>
</div>
</div><!---modal for forget password ends here-->
    

   <!------contacts-->
   <footer id="myFooter">
        <div class="container">
            <div class="row">
                <div class="col-sm-3">
                    <h5 class="logo mt-4"> <a href="{% url 'home' %}"><span class="am">E-</span><span class="am2">Recruitment</span></a></h5>
                </div>
                <div class="col-sm-2">
                    <h5>Get started</h5>
                    <ul>
                        <li><a href="{% url 'home' %}">Home</a></li>
                      
                       
                    </ul>
                </div>
                <div class="col-sm-2">
                    <h5>About us</h5>
                    <ul>
                        <li><a href="{% url 'recruitment:about' %}">Company Information</a></li>
                        <li><a href="#">Reviews</a></li>
                    </ul>
                </div>
                <div class="col-sm-2">
                    <h5>Support</h5>
                    <ul>
                            <li><a href="{% url 'recruitment:contactus' %}">Contact us</a></li>
                    </ul>
                </div>
                <div class="col-sm-3">
                    <div class="social-networks">
                        <a href="#" class="twitter"><i class="fab fa-twitter"></i></a>
                        <a href="#" class="facebook"><i class="fab fa-linkedin-in"></i></a>
                        <a href="#" class="google"><i class="fab fa-google-plus"></i></a>
                    </div>
                    
                    <button type="button" class="btn btn-outline-light"><a href="{% url 'recruitment:contactus' %}">Contact Us</a></button>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <p> &COPY;2019 Copyright Text &COPY; </p>
        </div>
      </footer>
      <!--contact section ends here-->
      {% if msz %}
      <script>
     alert('{{msz}}') 
      </script>
      {% endif %}
      <script>
      function change_pwd(){
        var x = document.getElementById("fpwd").value;
        $.ajax({
            url:"{% url 'recruitment:forgot_pass'%}",
            type:'get',
            data:{uname:x},
            success:function(data){
                if(data==0){
                    $('#msz').html('User With This name not found').css('color','red');
                }else{
                    let st = data.split('@');
                    $('#msz').html(st[0]).css('color','red');
                    $('#genOTP').val(st[1]);
                    $('#otpbox').show(1000);
                }
               
                
            }
        })
      }
      function matchOTP(){
          let u = $('#userotp').val();
          let g = $('#genOTP').val();
          if(u==g){
              $('#passwords').show(500);
          }else{
            $('#passwords').hide(500);
          }
      }
      </script>
</body>
</html>