.bgimg{
    background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)),url('suit.jpg');;
    background-size:100% 100%;
    background-attachment:fixed;
    width:100%;
    height:550px;
}
.headerset{
    padding-top:100px;
    box-sizing: border-box;
}
.am{
color:coral;
}
.am2{
    color:lavenderblush;
font-weight: light;
}
.header1{
    background:linear-gradient(to LEFT,#C6CBD1,#D6E8EE);
}
.header2{
    background:linear-gradient(to LEFT,#D9ECF2,#D6E8EE);
}
    /*footer section */

    #myFooter {
        background-color: #3c3d41;
        color: white;
        padding-top: 30px;
    }
    
    #myFooter .footer-copyright {
        background-color: #333333;
        padding-top: 3px;
        padding-bottom: 3px;
        text-align: center;
    }
    
    #myFooter .row {
        margin-bottom: 60px;
    }
    
    #myFooter .navbar-brand {
        margin-top: 45px;
        height: 65px;
    }
    
    #myFooter .footer-copyright p {
        margin: 10px;
        color: #ccc;
    }
    
    #myFooter ul {
        list-style-type: none;
        padding-left: 0;
        line-height: 1.7;
    }
    
    #myFooter h5 {
        font-size: 18px;
        color: white;
        font-weight: bold;
        margin-top: 30px;
    }
    
    #myFooter h2 a{
        font-size: 50px;
        text-align: center;
        color: #fff;
    }
    
    #myFooter a {
        color: #d2d1d1;
        text-decoration: none;
    }
    
    #myFooter a:hover,
    #myFooter a:focus {
        text-decoration: none;
        color: white;
    }
    
    #myFooter .social-networks {
        text-align: center;
        padding-top: 30px;
        padding-bottom: 16px;
    }
    
    #myFooter .social-networks a {
        font-size: 32px;
        color: #f9f9f9;
        padding: 10px;
        transition: 0.2s;
    }
    
    #myFooter .social-networks a:hover {
        text-decoration: none;
    }
    
    #myFooter .facebook:hover {
        color: lightslategray;
    }
    
    #myFooter .google:hover {
        color: #ef1a1a;
    }
    
    #myFooter .twitter:hover {
        color: #00aced;
    }
    
    #myFooter .btn {
        color: white;
        background-color: #d84b6b;
        border-radius: 20px;
        border: none;
        width: 150px;
        display: block;
        margin: 0 auto;
        margin-top: 10px;
        line-height: 25px;
    }
    
   
    /*footer section */

    #myFooter {
        background-color: #3c3d41;
        color: white;
        padding-top: 30px;
    }
    
    #myFooter .footer-copyright {
        background-color: #333333;
        padding-top: 3px;
        padding-bottom: 3px;
        text-align: center;
    }
    
    #myFooter .row {
        margin-bottom: 60px;
    }
    
    #myFooter .navbar-brand {
        margin-top: 45px;
        height: 65px;
    }
    
    #myFooter .footer-copyright p {
        margin: 10px;
        color: #ccc;
    }
    
    #myFooter ul {
        list-style-type: none;
        padding-left: 0;
        line-height: 1.7;
    }
    
    #myFooter h5 {
        font-size: 18px;
        color: white;
        font-weight: bold;
        margin-top: 30px;
    }
    
    #myFooter h2 a{
        font-size: 50px;
        text-align: center;
        color: #fff;
    }
    
    #myFooter a {
        color: #d2d1d1;
        text-decoration: none;
    }
    
    #myFooter a:hover,
    #myFooter a:focus {
        text-decoration: none;
        color: white;
    }
    
    #myFooter .social-networks {
        text-align: center;
        padding-top: 30px;
        padding-bottom: 16px;
    }
    
    #myFooter .social-networks a {
        font-size: 32px;
        color: #f9f9f9;
        padding: 10px;
        transition: 0.2s;
    }
    
    #myFooter .social-networks a:hover {
        text-decoration: none;
    }
    
    #myFooter .facebook:hover {
        color: lightslategray;
    }
    
    #myFooter .google:hover {
        color: #ef1a1a;
    }
    
    #myFooter .twitter:hover {
        color: #00aced;
    }
    
    #myFooter .btn {
        color: white;
        background-color: #d84b6b;
        border-radius: 20px;
        border: none;
        width: 150px;
        display: block;
        margin: 0 auto;
        margin-top: 10px;
        line-height: 25px;
    }
    
    @media screen and (max-width: 767px) {
        #myFooter {
            text-align: center;
        }
    }
    .services-section{
        background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)),url('p9.jpg');;
        background-size: cover;
        padding:60px 0;
    }
    .inner-width{
        width:100%;
        max-width:1200px;
        margin:auto;
        padding:0 20px;
        overflow:hidden;
    }
    .section-title{
        text-align:center;
        color:#ddd;
        text-transform:uppercase;
        font-size:40px;
    }
    .border{
        width:160px;
        height:2px;
        background:#B2ccdd;
        margin:40px auto;
    }
   
    .services-container{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    }
    .service-box{
        max-width:33.33%;
        padding:10px;
        text-align:center;
        color:#ddd;
        cursor: pointer;
    }
    .service-icon{
    display: inline-block;
    width:70px;
    height:70px;
    border:3px solid #B2ccdd;
    color:#B2ccdd;
    transform:rotate(45deg);
    margin-bottom: 30px;
    margin-top:16px;
    }
    .service-icon i{
         line-height: 70px;
         transform:rotate(-45deg);
         font-size:26px;
    }
    .service-box:hover .service-icon{
        background: lightslategrey;
        color:#ddd;
    }
    .service-title{
        font-size:18px;
        text-transform:uppercase;
        margin-bottom: 10px;
    }
    .service-desc{
        font-size:20px;
    }
     @media screen and (max-width:960px){
         .service-box{
             max-width: 45%;
         }
     }
     @media screen and (max-width:768px){
        .service-box{
            max-width: 50%;
        }
    }
    @media screen and (max-width:480px){
        .service-box{
            max-width: 55%;
        }
    }

  /*team*/
  .our:after{
    content:'';
    background: #333;
    display:block;
    height:3px;
    width:150px;
    margin:10px auto;
}
.profile{
    margin-top:25px;
}
.profile .img-box{
    opacity: 1;
    display:block;
    position: relative;
}

.img-box img{
    width: 100%;
    margin:auto;
}
.img-box:after{
    content: '';
    opacity:0 ;
    background-color: rgba(0,0,0,0.5);
    position: absolute;
    right:0;
    left:0;
    top:0;
    bottom:0;
}
.img-box ul{
    margin:0;
    padding:20px 0;
    position: absolute;
    z-index:1;
    bottom:0;
    display:block;
    left:50%;
    transform: translateX(-50%);
    opacity: 0;
}
.img-box ul li{
    width:30px;
    height:30px;
    border: 1px solid #fff;
    border-radius: 50%;
    margin:auto 0px;
    padding:1px;
    display: inline-block;
}
.img-box a{
    color:#fff;
}
.img-box:hover:after{
    opacity: 1;
}
.img-box:hover ul{
    opacity:1;
}
.img-box a:hover li{
    color:#007bff;
    border:1px solid #007bff;
}

.img-box:after, .img-box ul, .img-box ul li{
    transition: all 0.5s ease-in-out 0s;
}
.border2{
        width:160px;
        height:4px;
        background:#B2ccdd;
        margin:20px auto;
}
/*responsiv css for testimoniasl section*/

.wrapper{
    margin:0 auto;
}
.section-padding{
    padding:10px 0;
}
.testimonial-carousel{
    margin:5% auto 0;
}
.img-area{
    width:200px;
    height:200px;
    display: block;
    overflow: hidden;
    border-radius:50px 0px 50px 0px;
    margin:0 auto;
}
.img-area img{
    width:100%;
    margin:auto 0px;
}
.single-testi{
    background: lavender;
    padding:10%;
    text-align:center;
    border-radius:50px;
}
.img-text h2{
    text-transform:uppercase;
    margin:20px 0 15px;
    color:lightcoral;
}
.img-text i{
    color:darkgray;
}
hr{
    color:darkslateblue;
}

@media only screen and (min-width:768px) and (max-width:991px){
    .wrapper{
        width:100%;
    }
}

@media only screen and (max-width:767px){
    .wrapper{
        width:100%;
    }
}
@media only screen and (min-width:480px) and (max-width:767px){
    .wrapper{
        width:100%;
    }
}
.border1{
    width:70px;
    height:2px;
    background:#B2ccdd;
}
/*for compant*/
.compc{
    background: linear-gradient(to left,#fff,rgba(0,0,0,0.5));
}
#slider{
    margin-top:5%;
}
.content-area{
position: relative;
}
.custom-overlay{
    position: absolute;
    top:0px;
    bottom:0;
    left:0;
    right:0;
    text-align:center;
    background-color: rgba(255,255,255,0.7);
    opacity: 0;
    transition: all 400ms ease-in-out;
    height: 100%;
}
.custom-overlay:hover{
    opacity: 1;
}
.custom-overlay h4{
    position: relative;
    font-size:30px;
    font-family: poppins;
    color:#000;
}
.content-text{
    position:absolute;
    top:50%;
    left:10px;
    right:10px;
    transform:translateY(-50%);
}
.custom-overlay h4:before{
    content:'-';
    padding-right:10px;
}
.custom-overlay h4:after{
    content:'-';
    padding-left:10px;
}
.custom-overlay h3{
    color:#000;
    font-family:Merienda;
}
.custom-overlay p{
    color:#000;
    line-height: 1.6em;
    font-size:17px;
}

  