.bgimg{
    background-size:100% 100%;
    background-attachment:fixed;
    width:100%;
    height:500px;
}
.headerset{
    padding-top:100px;
    box-sizing: border-box;
}
.am{
color:coral;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
font-size: 25px;
}
.am2{
    color:lavenderblush;
font-family: cursive;
font-weight: light;
}
ul{
    list-style-type:none;
    padding:0;
    margin:0;   
}
.header1{
    background:linear-gradient(to LEFT,#C6CBD1,#D6E8EE);
}
.header2{
    background:linear-gradient(to LEFT,#D9ECF2,#D6E8EE);
}

    /*footer section */

    #myFooter {
        background-color: #3c3d41;
        color: white;
        padding-top: 30px;
    }
    
    #myFooter .footer-copyright {
        background-color: #333333;
        padding-top: 3px;
        padding-bottom: 3px;
        text-align: center;
    }
    
    #myFooter .row {
        margin-bottom: 60px;
    }
    
    #myFooter .navbar-brand {
        margin-top: 45px;
        height: 65px;
    }
    
    #myFooter .footer-copyright p {
        margin: 10px;
        color: #ccc;
    }
    
    #myFooter ul {
        list-style-type: none;
        padding-left: 0;
        line-height: 1.7;
    }
    
    #myFooter h5 {
        font-size: 18px;
        color: white;
        font-weight: bold;
        margin-top: 30px;
    }
    
    #myFooter h2 a{
        font-size: 50px;
        text-align: center;
        color: #fff;
    }
    
    #myFooter a {
        color: #d2d1d1;
        text-decoration: none;
    }
    
    #myFooter a:hover,
    #myFooter a:focus {
        text-decoration: none;
        color: white;
    }
    
    #myFooter .social-networks {
        text-align: center;
        padding-top: 30px;
        padding-bottom: 16px;
    }
    
    #myFooter .social-networks a {
        font-size: 32px;
        color: #f9f9f9;
        padding: 10px;
        transition: 0.2s;
    }
    
    #myFooter .social-networks a:hover {
        text-decoration: none;
    }
    
    #myFooter .facebook:hover {
        color: lightslategray;
    }
    
    #myFooter .google:hover {
        color: #ef1a1a;
    }
    
    #myFooter .twitter:hover {
        color: #00aced;
    }
    
    #myFooter .btn {
        color: white;
        background-color: #d84b6b;
        border-radius: 20px;
        border: none;
        width: 150px;
        display: block;
        margin: 0 auto;
        margin-top: 10px;
        line-height: 25px;
    }
    
   
    /*footer section */

    #myFooter {
        background-color: #3c3d41;
        color: white;
        padding-top: 30px;
    }
    
    #myFooter .footer-copyright {
        background-color: #333333;
        padding-top: 3px;
        padding-bottom: 3px;
        text-align: center;
    }
    
    #myFooter .row {
        margin-bottom: 60px;
    }
    
    #myFooter .navbar-brand {
        margin-top: 45px;
        height: 65px;
    }
    
    #myFooter .footer-copyright p {
        margin: 10px;
        color: #ccc;
    }
    
    #myFooter ul {
        list-style-type: none;
        padding-left: 0;
        line-height: 1.7;
    }
    
    #myFooter h5 {
        font-size: 18px;
        color: white;
        font-weight: bold;
        margin-top: 30px;
    }
    
    #myFooter h2 a{
        font-size: 50px;
        text-align: center;
        color: #fff;
    }
    
    #myFooter a {
        color: #d2d1d1;
        text-decoration: none;
    }
    
    #myFooter a:hover,
    #myFooter a:focus {
        text-decoration: none;
        color: white;
    }
    
    #myFooter .social-networks {
        text-align: center;
        padding-top: 30px;
        padding-bottom: 16px;
    }
    
    #myFooter .social-networks a {
        font-size: 32px;
        color: #f9f9f9;
        padding: 10px;
        transition: 0.2s;
    }
    
    #myFooter .social-networks a:hover {
        text-decoration: none;
    }
    
    #myFooter .facebook:hover {
        color: lightslategray;
    }
    
    #myFooter .google:hover {
        color: #ef1a1a;
    }
    
    #myFooter .twitter:hover {
        color: #00aced;
    }
    
    #myFooter .btn {
        color: white;
        background-color: #d84b6b;
        border-radius: 20px;
        border: none;
        width: 150px;
        display: block;
        margin: 0 auto;
        margin-top: 10px;
        line-height: 25px;
    }
    
    @media screen and (max-width: 767px) {
        #myFooter {
            text-align: center;
        }
    }
.border1{
        width:70px;
        height:2px;
        background:#B2ccdd;
      
}