

#bgimg{
    background-size:100% 100%;
    background-attachment:fixed;
    width:100%;
    height:630px;
}
.headerset{
    padding-top:100px;
    box-sizing: border-box;
}
.am{
color:coral;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
font-size: 25px;
}
.rowsetting .col-md-4:hover{
    background: #FFFFFF;
}
.rowsetting .imgset .fa:hover{
    background:#CFF4D2 ;
}
.am2{
    color:lavenderblush;
font-family: cursive;
font-weight: light;
}
.services-section{
    background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)),url('p9.jpg');;
    background-size: cover;
    padding:60px 0;
}
.inner-width{
    width:100%;
    max-width:1200px;
    margin:auto;
    padding:0 20px;
    overflow:hidden;
}
.section-title{
    text-align:center;
    color:#ddd;
    text-transform:uppercase;
    font-size:30px;
}
.border{
    width:160px;
    height:2px;
    background:#B2ccdd;
    margin:40px auto;
}
.services-container{
display:flex;
flex-wrap: wrap;
justify-content: center;
}
.service-box{
    max-width:33.33%;
    padding:10px;
    text-align:center;
    color:#ddd;
    cursor: pointer;
}
.service-icon{
display: inline-block;
width:70px;
height:70px;
border:3px solid #B2ccdd;
color:#B2ccdd;
transform:rotate(45deg);
margin-bottom: 30px;
margin-top:16px;
}
.service-icon i{
     line-height: 70px;
     transform:rotate(-45deg);
     font-size:26px;
}
.service-box:hover .service-icon{
    background: #B2ccdd;
    color:#ddd;
}
.service-title{
    font-size:18px;
    text-transform:uppercase;
    margin-bottom: 10px;
}
.service-desc{
    font-size:14px;
}
 @media screen and (max-width:960px){
     .service-box{
         max-width: 45%;
     }
 }
 @media screen and (max-width:768px){
    .service-box{
        max-width: 50%;
    }
}
@media screen and (max-width:480px){
    .service-box{
        max-width: 45%;
    }
}
.rowsetting{
    
    padding:50px 0px 60px;
}
.aboutcomp{
    background-color:#D6E8EE;
}
.bgimg1{
  
    background-size:100% 100%;
    background-attachment:fixed;
    width:100%;
    height:500px;
}
/*----footer----*/
#myFooter {
    background-color: #3c3d41;
    color: white;
    padding-top: 30px;
}

#myFooter .footer-copyright {
    background-color: #333333;
    padding-top: 3px;
    padding-bottom: 3px;
    text-align: center;
}

#myFooter .row {
    margin-bottom: 60px;
}

#myFooter .navbar-brand {
    margin-top: 45px;
    height: 65px;
}

#myFooter .footer-copyright p {
    margin: 10px;
    color: #ccc;
}

#myFooter ul {
    list-style-type: none;
    padding-left: 0;
    line-height: 1.7;
}

#myFooter h5 {
    font-size: 18px;
    color: white;
    font-weight: bold;
    margin-top: 30px;
}

#myFooter h2 a{
    font-size: 50px;
    text-align: center;
    color: #fff;
}

#myFooter a {
    color: #d2d1d1;
    text-decoration: none;
}

#myFooter a:hover,
#myFooter a:focus {
    text-decoration: none;
    color: white;
}

#myFooter .social-networks {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 16px;
}

#myFooter .social-networks a {
    font-size: 32px;
    color: #f9f9f9;
    padding: 10px;
    transition: 0.2s;
}

#myFooter .social-networks a:hover {
    text-decoration: none;
}

#myFooter .facebook:hover {
    color: lightslategray;
}

#myFooter .google:hover {
    color: #ef1a1a;
}

#myFooter .twitter:hover {
    color: #00aced;
}

#myFooter .btn {
  
    background-color: lightseagreen;
    border-radius: 20px;
   
    display: block;
    margin: 0 auto;
    margin-top: 10px;
    line-height: 25px;
}

@media screen and (max-width: 767px) {
    #myFooter {
        text-align: center;
    }
}
.cardc{
 
    margin:50px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 30px;
}
.card{
    position: relative;
    margin:50px 0;
    width:300px;
    height:400px;
    background: #fff;
    transform-style:preserve-3d;
    transform: perspective(2000px);
    transition: 1s;
    box-shadow: inset 300px 0 50px rgba(0,0,0, 0.5);
}
.card:hover{
    z-index:2000;
    transform: perspective(2000px) rotate(-10deg);
    box-shadow:inset 20px 0 50px cornflowerblue;
}
.card .imgbox{
    position: relative;
    width:100%;
    height: 100%;
    border:1px solid cornflowerblue;
    box-sizing:border-box;
    transform-origin: left;
    z-index:1;
    transition: 1s; 
}
.card .imgbox .img{
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    object-fit: cover;
}
.card:hover .imgbox{
    transform: rotateY(-135deg);
}
.card .details{
    position:absolute;
    top:0;
    left:0;
    box-sizing:border-box;
    padding:20px;
}

/*responsiv css for testimoniasl section*/

.wrapper{
    margin:0 auto;
}
.section-padding{
    padding:10px 0;
}
.testimonial-carousel{
    margin:5% auto 0;
}
.img-area{
    width:200px;
    height:200px;
    display: block;
    overflow: hidden;
    border-radius:50%;
    margin:0 auto;
}
.img-area img{
    width:100%
}
.single-testi{
    background: lavender;
    padding:10%;
    text-align:center;
    border-radius:100px 0 100px 0;
}
.img-text h2{
  
    margin:20px 0 15px;
    color:lightcoral;
}
.img-text i{
    color:darkgray;
}
hr{
    color:darkslateblue;
}

@media only screen and (min-width:768px) and (max-width:991px){
    .wrapper{
        width:100%;
    }
}

@media only screen and (max-width:767px){
    .wrapper{
        width:100%;
    }
}
@media only screen and (min-width:480px) and (max-width:767px){
    .wrapper{
        width:100%;
    }
}
.border1{
    width:70px;
    height:2px;
    background:#B2ccdd;
  
}